.stays-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: 20px;
}

.stay-grid-item {
  cursor: pointer;
}

.stay-grid-item img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 16px;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 300px;
  width: 30vw;
  background-color: #eee;
  border-radius: 6px;
  padding: 32px;
}

form input,
form button {
  border-radius: 6px;
  border: none;
  font-size: large;
  min-height: 30px;
  padding: 4px;
}

form button {
  color: white;
  background-color: #d8ad43;
  font-size: larger;
  padding: 16px;
  cursor: pointer;
}

.error-message {
  color: red;
}

#add-stay-form .input-pairs {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

#add-stay-form input {
  accent-color: #d8ad43;
  caret-color: #d8ad43;
}

#add-stay-form input[type="range"] {
  width: 100%;
}

.slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.stay-grid-item .stay-host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.stay-grid-item .stay-host img.stay-host-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.stay-grid-item .stay-host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.stay-grid-item .stay-host img.stay-host-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7eed9;
  box-shadow: 0px .5px 6px black;
  border-radius: 0 0 25px 25px;
}

.top-bar ul {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.4rem;

}

.top-bar ul a {
  text-decoration: none;
  border-radius: 15px;
  color: #d8ad43;
  font-weight: bold;
  text-shadow: 0px 2px 2px #403314;
  padding: 0;
}

.logout-button {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: transparent;
  border-radius: 15px;
  border: none;
  color: #d8ad43;
  text-shadow: 0px 2px 2px #403314;
  margin: 0 10vw 0 10vw;
  cursor: pointer;

}

.top-bar ul a:hover {
  color: #ac8a35;
  font-size: 1.52rem;
  font-size-adjust: 10px;

}

.logout-button:hover {
  scale: 1.2;
  color: #ac8a35;
}

.underlineHover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #816728;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineHover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underlineHover {
  position: relative;
}